@media only screen and (min-width:993px){
    /* .main-nav:hover{
        box-shadow: none;
        display: block;
        display: none;
        position: absolute;
    }
    ul a:hover{
        border-radius: 5px;
        display: block;
        padding: 12px 16px;
    } */
}